@import "fonts.css";
body {
  margin: 0;
  padding: 0 0 40px;
  box-sizing: border-box;
  font-family: "OpenSansRegular", Arial, sans-serif;
  font-size: 14px;
  color: #272727;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  background: #2B3951;
}
body.stars_background {
  background: none;
}
body.fixed {
  overflow: hidden;
}
body.fixed:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #151824;
  opacity: .95;
  z-index: 9999;
}
a {
  color: #272727;
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
._left {
  float: left;
}
._right {
  float: right;
}
/* loader */
.loader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #151824;
  z-index: 999999999999;
}
.contpre {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -125px;
  margin-top: -125px;
}
.loader .svg_anm {
  position: absolute;
  background: url('../img/load.gif') center center no-repeat;
  width: 250px;
  height: 250px;
  left: 0;
  top: 0;
}
/*-----*/
.btn {
  box-sizing: border-box;
  width: 220px;
  height: 40px;
  border: 1px solid #3accc6;
  outline: none;
  cursor: pointer;
  color: #FFF;
  background: #3accc6;
  letter-spacing: .5px;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
.btn_red {
  background: #de4444;
  border: 1px solid #de4444;
}
.btn:hover {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.btn_border {
  background: none;
  color: #3accc6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn_border:hover {
  color: #FFF;
  background: #3accc6;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn_disbled,
.btn_disbled:hover {
  color: #272727;
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.work-area {
  width: 1100px;
  padding: 0 50px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
}
h1 {
  letter-spacing: -1.7px;
  color: #FFF;
  font-size: 36px;
  font-family: "OpenSansSemiBold";
  margin: 20px 0 0;
  text-align: center;
}
input {
  width: 100%;
  background: none;
  font-family: "OpenSansRegular", Arial, sans-serif;
  padding-bottom: 14px;
  outline: none;
}
input:focus {
  outline: none;
}
/*----- header ------*/
header {
  padding: 30px 40px;
  width: 100%;
  box-sizing: border-box;
  background: #FFF;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.logo {
  color: #3accc6;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 46px;
  margin-top: 5px;
  font-family: Arial;
}
.menu {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.menu span {
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-top: 4px;
  letter-spacing: -0.6px;
}
.menu span:hover {
  color: #3accc6;
}
.menu i {
  margin-left: 15px;
  width: 12px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icons/arrow_bottom.png');
}
nav {
  display: none;
  width: 240px;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: -62px;
  margin-top: 15px;
  background: #FFF;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  padding: 12px 20px;
}
nav a {
  font-size: 16px;
  float: left;
  clear: both;
  display: block;
  white-space: nowrap;
  line-height: 35px;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: color;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: color;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: color;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
nav a:hover {
  color: #3accc6;
}
.addFolded {
  margin-right: 32px;
  display: inline-block;
  vertical-align: middle;
  width: 210px;
  padding-right: 13px;
}
.addFolded i {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: top;
  background: url(../img/icons/plus.png);
  margin-right: 15px;
  margin-top: 13px;
}
.services {
  display: inline-block;
  vertical-align: middle;
}
.services a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 19px;
  height: 28px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
.services a:last-child {
  margin-right: 0;
}
.services a.messages {
  width: 27px;
  background-image: url('../img/icons/messages.png');
}
.services a.messages:hover {
  background-image: url('../img/icons/messages-h.png');
}
.services a.messages.messages_new i {
  display: block;
}
.services a.notice {
  width: 26px;
  background-image: url('../img/icons/notice.png');
}
.services a.notice:hover {
  background-image: url('../img/icons/notice-h.png');
}
.services a.notice.notice_new i {
  display: block;
}
.services a.profile {
  width: 26px;
  background-image: url('../img/icons/profile.png');
}
.services a.profile:hover {
  background-image: url('../img/icons/profile-h.png');
}
.services a i {
  display: none;
  width: 6px;
  height: 6px;
  background: #de4444;
  position: absolute;
  right: -6px;
  top: -6px;
  border-radius: 100%;
}
/*--------------------*/
/*----- home page -----*/
.categories {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.categories.open .categories__list {
  top: 0;
}
.setCategories {
  letter-spacing: -1.7px;
  color: #FFF;
  font-size: 36px;
  font-family: "OpenSansSemiBold";
}
.setCategories i {
  width: 12px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background: url('../img/icons/select.png');
  margin-left: 22px;
}
.setCategories:hover {
  color: #3accc6;
}
.categories__list {
  position: absolute;
  top: -3000px;
  left: 0;
  background: #FFF;
  z-index: 10000;
  padding: 36px 60px 40px;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: top;
  -moz-transition-duration: 0.5s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: top;
  -ms-transition-duration: 0.5s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: top;
  -o-transition-duration: 0.5s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: top;
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
.categories__list h2 {
  font-size: 36px;
  font-family: "OpenSansSemiBold";
  letter-spacing: -1.7px;
  margin: 0 0 6px;
  color: #3accc6;
}
.categories__list ul {
  text-align: left;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
.categories__list li {
  list-style-type: none;
  float: left;
  width: 280px;
  margin-right: 20px;
}
.categories__list a {
  letter-spacing: 0.6px;
  line-height: 30px;
  float: left;
  clear: both;
}
.categories__list a.all {
  display: table;
  margin: 0 auto 49px;
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  float: none;
}
.categories__list a.category {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 27px;
  min-height: 50px;
}
.categories__list a:hover {
  color: #3accc6;
}
.categories__list a.closeCategories {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 50px;
  right: 50px;
  background: url('../img/icons/close-d.png');
}
.categories__list a.closeCategories:hover {
  background: url('../img/icons/close-h.png');
}
#search {
  position: relative;
  width: 100%;
  margin-top: 22px;
}
#search input {
  border: none;
  border-bottom: 2px solid #000;
  color: #FFF;
  font-size: 16px;
}
#search button {
  border: none;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
}
#search_clear {
  display: none;
  position: absolute;
  right: 42px;
  top: 0;
  width: 19px;
  height: 19px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
  background-image: url('../img/icons/close.png');
}
#search_clear:hover {
  background-image: url('../img/icons/close-h.png');
}
#search_set {
  width: 29px;
  height: 29px;
  position: absolute;
  right: -2px;
  top: -2px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
  background-image: url('../img/icons/search.png');
}
#search_set:hover {
  background-image: url('../img/icons/search-h.png');
}
#filter {
  margin-top: 3px;
  margin-bottom: 52px;
  width: 100%;
}
#filter ul {
  margin: 0;
  padding: 0;
}
#filter li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}
#filter .jq-selectbox__select {
  width: auto;
  height: 21px;
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font-family: "OpenSansRegular", Arial, sans-serif;
  font-size: 15px;
  color: #FFF;
  text-shadow: none;
  -webkit-transition-property: color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: color;
  -moz-transition-duration: 0.3s;
  -moz-transition-delay: 0s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: color;
  -ms-transition-duration: 0.3s;
  -ms-transition-delay: 0s;
  -ms-transition-timing-function: linear;
  -o-transition-property: color;
  -o-transition-duration: 0.3s;
  -o-transition-delay: 0s;
  -o-transition-timing-function: linear;
  transition-property: color;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
#filter .jq-selectbox__select-text {
  height: 21px;
  line-height: 21px;
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
#filter .jq-selectbox__trigger {
  position: static;
  width: 12px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background: url(../img/icons/select.png);
  margin-left: 17px;
  border-left: none;
}
#filter .jq-selectbox__trigger-arrow {
  display: none;
}
#filter .jq-selectbox__select:hover {
  color: #3accc6;
}
#filter .jq-selectbox__dropdown {
  padding: 12px 36px 22px 19px;
  margin-top: 23px;
  font-family: "OpenSansRegular", Arial, sans-serif;
  font-size: 15px;
  color: #272727;
  width: auto!important;
  left: -19px;
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
#filter .jq-selectbox li {
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 35px;
}
#filter .jq-selectbox li.selected,
#filter .jq-selectbox li:hover {
  background: none;
  color: #3accc6;
}
#filter .jq-selectbox.opened .jq-selectbox__trigger {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*---------------------*/
/*card*/
.card {
  display: inline-block;
  width: 320px;
  background: #FFF;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 16px;
  margin-bottom: 45px;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card__top {
  overflow: hidden;
  height: 240px;
  margin: -20px -20px 0 -20px;
  position: relative;
}
.card__top:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #272727;
  opacity: .5;
  z-index: 1;
}
.card__top p {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 3;
  margin: 0;
}
.card__top a {
  color: #FFF;
  font-size: 20px;
  font-family: "OpenSansSemiBold";
}
.card__top a:hover {
  color: #3accc6;
}
.card__top span {
  display: block;
  color: #FFF;
  margin-top: 4px;
}
.card img {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 0;
}
.card__state {
  color: #de4444;
  font-size: 18px;
  font-family: "OpenSansSemiBold";
  height: 67px;
  box-sizing: border-box;
  padding-top: 21px;
  position: relative;
}
.card__state hr {
  margin: 0;
  border: none;
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 15px;
  height: 2px;
  background: #EDEDED;
}
.card__state hr.percent {
  background: #de4444;
}
.card__state span:last-of-type {
  float: right;
}
.card__info {
  width: 100%;
  overflow: hidden;
}
.card__info span {
  margin-bottom: 12px;
  color: #a6a6a6;
  float: left;
  width: 50%;
  font-size: 13px;
}
.card__info span:nth-child(2n) {
  text-align: right;
  color: #272727;
  font-family: "OpenSansSemiBold";
}
.card__info span:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.card.open .card__state {
  color: #3accc6;
}
.card.open .card__state span:last-of-type {
  display: none;
}
.card.open .card__state hr {
  display: none;
}
.card.end .card__state {
  color: #a6a6a6;
}
.card.end .card__state span:last-of-type {
  display: none;
}
.card.end .card__state hr {
  display: none;
}
.card.сollection_completed .card__state span:last-of-type {
  display: none;
}
/*----*/
/*--- show more ---*/
.dots {
  height: 8px;
  margin-right: 7px;
  display: inline-block;
}
.dots span {
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  background-color: #FFF;
  height: 4px;
  width: 4px;
  margin: 0 -2px 4px 0;
  display: inline-block;
  border-radius: 50%;
}
@-webkit-keyframes wave {
  0%,
  40%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -15px);
  }
}
@keyframes wave {
  0%,
  40%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -15px);
  }
}
.show-more {
  text-align: center;
  margin: 0px auto;
  padding: 3px 7px;
  position: relative;
  cursor: pointer;
}
.show-more span {
  color: #FFF;
}
.show-more:hover .dots span {
  animation: wave 2s ease  infinite;
  -webkit-animation: wave 2s ease infinite;
}
.show-more:hover .dots span:nth-child(1) {
  animation-delay: 0ms;
  -webkit-animation-delay: 0ms;
}
.show-more:hover .dots span:nth-child(2) {
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
}
.show-more:hover .dots span:nth-child(3) {
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}
/*-----------------*/
/*--- user ---*/
.user {
  text-align: center;
  width: 300px;
  height: 385px;
  margin-right: 46px;
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: middle;
  background: #FFF;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}
.user:nth-child(3n) {
  margin-right: 0;
}
.user:after {
  content: '';
  position: absolute;
  top: 30px;
  right: 30px;
  width: 16px;
  height: 16px;
  background: #EDEDED;
  border-radius: 100%;
}
.user.online:after {
  background: #3accc6;
}
.user__photo {
  width: 200px;
  height: 200px;
  margin: 20px auto 0;
  border-radius: 100%;
}
.user__photo img {
  width: 100%;
}
.user__rate {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #3accc6;
  color: #FFF;
  border-radius: 100%;
  font-size: 18px;
  font-family: "OpenSansSemiBold";
  margin: -30px auto 10px;
  position: relative;
  z-index: 1;
}
.user__name {
  font-size: 18px;
  font-family: "OpenSansSemiBold";
  margin: 0;
  line-height: 20px;
}
.user__type {
  color: #a6a6a6;
  line-height: 20px;
  margin: 0 0 20px;
}
.user .btn {
  display: block;
  width: 100%;
}
.user .btn i {
  width: 14px;
  height: 15px;
  vertical-align: middle;
  display: inline-block;
  background: url('../img/icons/newMsg.png');
  margin-right: 15px;
}
.user__moreInfo {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.15);
}
.user__moreInfo span {
  text-align: left;
  color: #FFF;
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
.user__moreInfo span:nth-child(2n) {
  text-align: right;
}
.user__moreInfo span:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.user.user_clone .user__moreInfo {
  display: block;
}
/*------------*/
/*--- cart ---*/
.category_type {
  color: #FFF;
  text-align: center;
  margin: 0 0 41px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.card_open {
  display: inline-block;
  width: 100%;
}
.card_open ._left {
  width: 320px;
  border-radius: 4px;
  overflow: hidden;
}
.card_open ._right {
  width: 660px;
}
.card_open__image {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.card_open__image img {
  width: 100%;
}
.card_open__info {
  width: 100%;
  box-sizing: border-box;
  background: #FFF;
  margin: 0;
  padding: 20px;
}
.card_open__info li {
  margin-bottom: 12px;
  list-style-type: none;
  color: #a6a6a6;
}
.card_open__info li > span {
  font-size: 18px;
  color: #272727;
  font-family: "OpenSansSemiBold";
  display: block;
}
.card_open__info li img {
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}
.card_open__info li:first-child span {
  margin-bottom: 22px;
}
.card_open__info li:last-child {
  margin-bottom: 0;
}
.card_open__info .btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.card_open__info .btn:first-child {
  margin-top: 28px;
  margin-bottom: 10px;
}
.card_open__info .btn:first-child i {
  width: 12px;
  height: 12px;
  background: url('../img/icons/door_l.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
.card_open__info .btn:last-child i {
  width: 14px;
  height: 14px;
  background: url('../img/icons/wifi-h.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
.card_open__info .btn:last-child:hover i {
  background: url('../img/icons/wifi.png');
}
.card_open.open .card_open__info li:first-child span {
  color: #3accc6;
}
.card_open__moreInfo {
  width: 100%;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.15);
}
.card_open__moreInfo span {
  text-align: left;
  color: #FFF;
  float: left;
  width: 50%;
  margin-bottom: 10px;
}
.card_open__moreInfo span:nth-child(2n) {
  text-align: right;
}
.card_open__moreInfo span:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.contributionAmount {
  margin-top: 10px;
  width: 100%;
}
.contributionAmount .ui-slider {
  position: relative;
}
.contributionAmount .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  cursor: pointer;
  outline: none;
  background: #FFF;
  border-radius: 100%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.contributionAmount .ui-slider .ui-slider-handle:after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  background: #3accc6;
  border-radius: 100%;
}
.contributionAmount .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden;
}
.contributionAmount .ui-slider-horizontal {
  height: 6px;
}
.contributionAmount .ui-slider-horizontal .ui-slider-handle {
  top: -9px;
  margin-left: -12px;
}
.contributionAmount .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.contributionAmount .ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.contributionAmount .ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.contributionAmount .ui-widget-content {
  background: #EDEDED;
}
.contributionAmount .ui-widget-header {
  background: #3accc6;
}
.contributionAmount .ui-corner-all {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.contributionAmount #minCost {
  float: left;
  color: #C4C4C4;
  margin-bottom: 9px;
}
.contributionAmount #maxCost {
  float: right;
  color: #C4C4C4;
  margin-bottom: 9px;
}
.contributionAmount #setValue {
  font-size: 18px;
  color: #272727;
  font-weight: 300;
  margin: 21px 0 10px;
  display: block;
}
.contributionAmount > span {
  font-size: 13px;
  font-weight: 300;
  color: #a6a6a6;
}
.bookmarks {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.bookmarks li {
  width: 130px;
  float: left;
  list-style-type: none;
  margin-right: 2px;
}
.bookmarks li:last-child {
  margin-right: 0;
  width: 132px;
}
.bookmarks a {
  display: block;
  width: 100%;
  text-align: center;
  height: 39px;
  line-height: 39px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0 0;
}
.bookmarks a.active,
.bookmarks a:hover {
  color: #3accc6;
  background: #FFF;
}
.cardContent {
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  width: 100%;
}
.cardContent .content {
  background: #FFF;
  width: 100%;
  padding: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
.cardContent h2 {
  font-family: "OpenSansSemiBold";
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 8px;
}
.cardContent p {
  margin: 0 0 0px;
  font-weight: 300;
}
.cardContent img {
  max-width: 100%;
}
.cardContent .tags {
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  padding: 20px;
}
.cardContent .tags h2 {
  color: #FFF;
}
.cardContent .tags a {
  color: #FFF;
}
.cardContent .tags a:hover {
  color: #3accc6;
}
.cardContent .tags ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cardContent .tags li {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
.cardContent .tags li:last-child span {
  display: none;
}
.cardContent .tags span {
  color: #FFF;
}
.cardContent .channel,
.cardContent .activityFilter,
.cardContent .valuationFilter {
  width: 100%;
  padding: 0;
  margin: 0 0 20px;
  overflow: hidden;
}
.cardContent .channel li,
.cardContent .activityFilter li,
.cardContent .valuationFilter li {
  float: left;
  list-style-type: none;
  margin-right: 23px;
}
.cardContent .channel li.clear,
.cardContent .activityFilter li.clear,
.cardContent .valuationFilter li.clear {
  float: right;
}
.cardContent .channel li.clear a,
.cardContent .activityFilter li.clear a,
.cardContent .valuationFilter li.clear a {
  font-weight: 300;
}
.cardContent .channel li.clear i,
.cardContent .activityFilter li.clear i,
.cardContent .valuationFilter li.clear i {
  width: 14px;
  height: 14px;
  background: url('../img/icons/clear.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.cardContent .channel li:last-child,
.cardContent .activityFilter li:last-child,
.cardContent .valuationFilter li:last-child {
  margin-right: 0;
}
.cardContent .channel a,
.cardContent .activityFilter a,
.cardContent .valuationFilter a {
  display: block;
  padding-bottom: 12px;
  color: #a6a6a6;
}
.cardContent .channel a:hover,
.cardContent .activityFilter a:hover,
.cardContent .valuationFilter a:hover,
.cardContent .channel a.active,
.cardContent .activityFilter a.active,
.cardContent .valuationFilter a.active {
  padding-bottom: 10px;
  color: #3accc6;
  border-bottom: 2px solid #3accc6;
}
.cardContent .commentCount {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px;
}
.cardContent .commentsList {
  width: 100%;
}
.cardContent .newComment {
  display: none;
  color: #3accc6;
  display: inline-block;
  margin: 0 0 20px;
}
.cardContent .newComment:hover {
  text-decoration: underline;
}
.cardContent #privete_channel {
  display: none;
}
#newComment {
  margin-bottom: 30px;
  width: 100%;
}
#newComment input {
  border: none;
  border-bottom: 1px solid #EDEDED;
  font-size: 14px;
  font-weight: 300;
  color: #272727;
  margin-bottom: 20px;
}
#newComment .btn {
  width: 250px;
}
#newComment .btn i {
  width: 14px;
  height: 15px;
  background: url('../img/icons/newMsg.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}
/*MSG and comment*/
.userMsg {
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 25px;
}
.userMsg ._left {
  width: 40px;
}
.userMsg ._left img {
  width: 100%;
  border-radius: 100%;
}
.userMsg ._right {
  width: calc(100% - 50px);
}
.userMsg .name {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  margin-bottom: 5px;
}
.userMsg .base {
  display: inline-block;
  margin-left: 10px;
  font-size: 14px;
  vertical-align: middle;
  font-weight: 300;
  color: #a6a6a6;
  font-family: "OpenSansRegular";
}
.userMsg .base i {
  width: 10px;
  height: 7px;
  background: url('../img/icons/answer.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.userMsg .like {
  cursor: pointer;
  float: right;
  font-size: 13px;
  font-weight: 300;
  color: #a6a6a6;
  font-family: "OpenSansRegular";
}
.userMsg .like i {
  width: 12px;
  height: 11px;
  background: url('../img/icons/like.png');
  display: inline-block;
  margin-left: 5px;
}
.userMsg .like:hover,
.userMsg .like.active {
  color: #de4444;
}
.userMsg .like:hover i,
.userMsg .like.active i {
  background: url('../img/icons/like-h.png');
}
.userMsg .like.active {
  cursor: default;
}
.userMsg .date {
  font-size: 13px;
  font-weight: 300;
  color: #a6a6a6;
  margin-bottom: 5px;
}
.userMsg .text {
  font-weight: 300;
}
.userMsg .answer {
  position: absolute;
  font-family: "OpenSansSemiBold";
  color: #3accc6;
  left: 50px;
  bottom: 0;
  display: none;
}
.userMsg .answer:hover {
  text-decoration: underline;
}
.userMsg:hover .answer {
  display: block;
}
.userMsg.level_2 {
  width: calc(100% - 50px);
  margin-left: 50px;
}
.userMsg #newComment {
  margin-top: 20px;
}
.userMsg #newComment h2 {
  display: none;
}
/*----------*/
/*activity*/
.activity__items {
  margin: 0;
  padding: 0;
  width: 100%;
}
.activity__items li {
  list-style-type: none;
  margin-bottom: 30px;
}
.activity__items hr {
  width: 100%;
  border: none;
  height: 2px;
  background: #EDEDED;
  margin: 0 0 20px;
}
.activity__item {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
}
.activity__item .name {
  font-size: 16px;
  font-family: "OpenSansSemiBold";
  margin-bottom: 5px;
}
.activity__item .date {
  font-size: 13px;
  font-weight: 300;
  color: #a6a6a6;
  margin-bottom: 5px;
}
.activity__item .text {
  font-size: 13px;
  font-weight: 300;
  height: 20px;
  overflow: hidden;
}
.activity__item .new_user {
  font-size: 18px;
  font-family: "OpenSansSemiBold";
}
.activity__item .new_user img {
  width: 40px;
  border-radius: 100%;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.activity__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
}
.activity__item_like:before {
  width: 12px;
  height: 11px;
  background: url('../img/icons/like.png');
}
.activity__item_rate:before {
  width: 12px;
  height: 11px;
  background: url('../img/icons/star.png');
}
.activity__item_user:before {
  width: 10px;
  height: 11px;
  background: url('../img/icons/newuser.png');
}
.activity__item_comment:before {
  width: 12px;
  height: 11px;
  background: url('../img/icons/newmsg-a.png');
}
.activity__item_system:before {
  width: 10px;
  height: 10px;
  background: #de4444;
  border-radius: 100%;
}
.stars {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.stars li {
  float: left;
  list-style-type: none;
  width: 30px;
  height: 27px;
  margin: 0 10px 0 0;
  background: url('../img/icons/star-big.png');
}
.stars li.active {
  background: url('../img/icons/star-big-h.png');
}
/*---------*/
/*cardContent__users*/
.cardContent__users {
  margin: 20px 0 0;
  padding: 0;
}
.cardContent__users li {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: "OpenSansSemiBold";
}
.cardContent__users img {
  width: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
/*------------------*/
/*valuation*/
#expert {
  width: 100%;
}
#expert span {
  display: block;
  margin-bottom: 10px;
  color: #a6a6a6;
}
#expert .stars {
  margin-bottom: 23px;
}
#only_1,
#only_2,
#only_3,
#only_4,
#only_5 {
  display: none;
}
